<h2>Login</h2>

<% if @current_user %>
  <p>You are already logged in...</p>
<% else %>
  <%= form_tag login_path do %>
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8 offset-s2">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8 offset-s2">
      <%= submit_tag "Login", class: 'btn waves-effect waves-light' %>
    </div>
  </div>

  <% end %>
<% end %>
