<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <div class="input-field col s4">
          <%= f.label :email %><br>
          <%= f.email_field :email %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </div>
        <div class="input-field col s4">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="row">
        <div class="col s8 offset-s2">
          <%= f.submit class: 'btn waves-effect waves-light' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
