<script>
  $(document).ready(function(){
    app.flights.fetch().done(function() {
      $("td").each(function(){
        if( $( this ).data('id') ) {
          flight = app.flights.find('id', $(this).data('id')).toJSON();
          $(this).text( flight.flightNum + ": " + flight.from + " -> " + flight.to )
        }
      })
    });
  });
</script>

<p id="notice"><%= notice %></p>

<h1>Your Reservations</h1>

<div class="row">
  <div class="col s8 offset-s2">

    <table  class="highlight striped">
      <thead>
        <tr>
          <th>Flight</th>
          <th>Column</th>
          <th>Row</th>
          <th>User</th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |reservation| %>
          <% seat_map_arr = eval(reservation.seat_map) %>
          <% bool = false %>
          <% c = nil %>
          <% r = nil %>
          <% seat_map_arr.each_with_index do |arr,index| %>
            <% if arr.include? @current_user.id %>
              <% bool = true %>
              <% col_index = arr.index(@current_user.id) %>
              <% c = ('A'..'Z').to_a[col_index] %>
              <% r = index %>
            <% end %>
          <% end %>
          <% if bool %>
            <tr>
              <td data-id="<%= reservation.flight_id %>"><%= reservation.flight_id %></td>
              <td><%= c %></td>
              <td><%= r %></td>
              <td><%= @current_user.name %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
